<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <% include ./partials/scripts %>
    <title>QR Promos</title>
  </head>
  <body>
    <nav
      id="nav"
      class="navbar navbar-expand flex-column flex-sm-row d-flex justify-content-between align-items-sm-center navbar-light bg-light">
      <a class="navbar-brand" href="#"><h3 class="nav-title">QR Promos</h3></a>
      <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search businesses"
          aria-label="Search"/>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
      <button class="btn btn-success my-2 my-sm-0" type="submit">
        Post your promo!
      </button>
    </nav>
    <div id="card">
      <div class="front">
        <img src="images/promo.jpg"/ style="width: 100%;">
        <h4 class="card-header">Business Name</h4>
        <p class="card-info">Information about the promo.</p>
        <div class="card-button">Click to see QR code</div>
      </div>
      <div class="back">
        <img src="<%= qr %>" style="width: 100%;" />
        <h3>Scan Me!</h3>
      </div>
    </div>
    <div id="output"></div>
    <script>
      $("#card").on("click", function() {
        $(this).flip();
        $(".back").css("visibility", "visible");
      });
    </script>
  </body>
</html>