<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <% include ./partials/scripts %>
    <title>QR Promos</title>
  </head>
  <body>
    <% include ./partials/nav %>
    <main>
      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">
            <img src="images/promo.jpg"/ style="width: 100%;">
            <h4 class="card-header">Business Name</h4>
            <p class="card-info">Information about the promo.</p>
            <div class="card-button">Click to see QR code</div>
          </div>
          <div class="card__face card__face--back">
            <img src="<%= qr %>" style="width: 100%;" />
            <h3 class="scan-me">Scan Me!</h3>
          </div>
        </div>
      </div>
    </main>
    <script>
      const card = document.querySelector(".card");
      card.addEventListener("click", () => {
        card.classList.toggle("is-flipped");
      });
    </script>
  </body>
</html>