<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <% include ./partials/scripts %>
    <title>User Logout</title>
  </head>
  <body>
    <% include ./partials/nav %>
    <br/>
    <br/>
    <br/>
    <h1>Logging Out...</h1>
  </body>
  <script>
    let xhttp = new XMLHttpRequest();
    setTimeout(() => {
      console.log("sending request for redirect");
      window.location = "/";
    }, 2000);
  </script>
</html>