<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <% include ./partials/scripts %>
    <title>User Login</title>
  </head>
  <body>
    <% include ./partials/nav %>
    <main>
      <header>
        <h1>Register User</h1>
      </header>
      <form action="/register" method="POST">
        <div class="form-input">
          <label for="name">Name</label>
          <input type="text" id="name" class="input-box" name="name" required />
        </div>
        <div class="form-input">
          <label for="email">Email</label>
          <input type="email" id="email" class="input-box" name="email" required />
        </div>
        <div class="form-input">
          <label for="password">Password</label>
          <input type="password" id="password" class="input-box" name="password" required />
        </div>
        <div class="form-button">
        <button type="submit">Register</button>
        </div>
      </form>
      <h4 class="secondary-header">Already registered?</h4>
      <a href="login">Login</a>
    </main>
  </body>
</html>