<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <% include ./partials/scripts %>
    <title>User Login</title>
  </head>
  <body>
    <% include ./partials/nav %>
    <main>
    <header>
      <h1>Register as a...</h1>
    </header>
      <a href="register-user">user</a>
      <h2>- or -</h2>
      <a href="register-business">business</a>
    </main>
  </body>
</html>