* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.secondary-header {
  margin-top: 3rem;
}

a, li {
  text-decoration: none;
  list-style: none;
}

form {
  margin-top: 1.5rem;
}

.form-button {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.form-button button, main a {
  font-size: 1.5rem;
  padding: .5rem;
  color: white;
  text-shadow: 1px 1px black;
  background-color: #3bb357;
  border: solid black 1px;
  border-radius: .5rem;
}

.form-input {
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  border: solid black 1px;
  border-radius: .5rem;
}